// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Home row mods macro - КАЖДЫЙ макрос дает 3 элемента
#define HRML(k2,k3,k4) &ht LALT k2  &ht LCTL k3  &ht LGUI k4
#define HRMR(k1,k2,k3) &ht RGUI k1  &ht RCTL k2  &ht RALT k3
#define WHRML(k2,k3,k4) &ht LALT k2  &ht LGUI k3  &ht LCTL k4
#define WHRMR(k1,k2,k3) &ht RCTL k1  &ht RGUI k2  &ht RALT k3

#define WIN 0
#define RIG 1
#define LEF 2
#define TRI 3

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <TRI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                // ЛЕВАЯ ПОЛОВИНА (17 элементов)
                &kp Q    &kp W    &kp E    &kp R    &kp T
                &kp A    &ht LALT S  &ht LCTL D  &ht LGUI F  &kp G
                &kp Z    &kp X    &kp C    &kp V    &kp B
                &lt LEF TAB  &kp LSFT
                
                // ПРАВАЯ ПОЛОВИНА (17 элементов)
                &kp Y    &kp U    &kp I    &kp O    &kp P
                &kp H    &ht RGUI J  &ht RCTL K  &ht RALT L  &kp BSPC
                &kp N    &kp M    &kp COMMA  &kp DOT  &kp ENTER
                &kp SPACE  &lt RIG TAB
            >;
        };

        right_layer {
            bindings = <
                // ЛЕВАЯ ПОЛОВИНА
                &kp N1    &kp N2    &kp N3    &kp N4    &kp N5
                &trans    &kp CAPS  &kp PSCR  &kp INS   &trans
                &kp UNDO  &kp C_CUT &kp C_COPY &kp C_PASTE &kp AGAIN
                &trans    &trans
                
                // ПРАВАЯ ПОЛОВИНА
                &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                &kp PG_UP &kp LEFT  &kp UP    &kp RIGHT &kp DEL
                &kp PG_DN &kp HOME  &kp DOWN  &kp END   &kp ESC
                &trans    &trans
            >;
        };

        left_layer {
            bindings = <
                // ЛЕВАЯ ПОЛОВИНА
                &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT
                &kp DQT   &kp LBKT  &kp LBRC  &kp LPAR  &trans
                &kp SQT   &kp RBKT  &kp RBRC  &kp RPAR  &trans
                &trans    &trans
                
                // ПРАВАЯ ПОЛОВИНА
                &kp CARET &kp AMPS  &kp ASTRK &kp GRAVE &kp TILDE
                &kp FSLH  &kp PLUS  &kp MINUS &kp COLON &kp SEMI
                &kp BSLH  &kp EQUAL &kp UNDER &kp PIPE  &kp QMARK
                &trans    &trans
            >;
        };

        tri_layer {
            bindings = <
                // ЛЕВАЯ ПОЛОВИНА
                &kp F1    &kp F2    &kp F3    &kp F4    &bt BT_SEL 0
                &kp F5    &kp F6    &kp F7    &kp F8    &bt BT_SEL 1
                &kp F9    &kp F10   &kp F11   &kp F12   &bt BT_SEL 2
                &trans    &trans
                
                // ПРАВАЯ ПОЛОВИНА
                &bt BT_SEL 3 &out OUT_TOG &tog WIN &kp C_VOL_UP &kp C_NEXT
                &bt BT_SEL 4 &kp C_BRI_UP &trans   &kp C_MUTE   &kp C_PP
                &bt BT_CLR   &kp C_BRI_DN &trans   &kp C_VOL_DN &kp C_PREV
                &trans    &trans
            >;
        };
    };
};
